#piano {
  display: flex;
  position: fixed;
  background-color: white;
}

#pianoRoll {
  width: 100vw;
  height: 80vh;
  z-index: 0;
}

.key {
  height: 15rem;
  width: 3rem;
  border-left: 1px solid black;
  border-top: 3px solid black;
  z-index: 2;
}

.white {
  background-color: white;
  position: relative;
  z-index: 2;
}

.black {
  width: 2rem;
  height: 7rem;
  background-color: black;
  position: static;
  margin-left: -1rem;
  margin-right: -1rem;
  z-index: 3;
  border: 1px solid black;
}
